body{
        font-family: 'Roboto', sans-serif;
        background: rgb(104,61,234);
        background: linear-gradient(336deg, rgba(104,61,234,1) 0%, rgba(207,45,150,1) 100%);
        }


.divClass
{
  margin: 25px; 
  padding: 5px; 
  border-radius:12px; 
  background-color:#e5cdf1; 
  width:500px; 
  transform-style: preserve-3d; 
  padding: 16px; 
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; "
}
